<div id="thumbnail-container" class="container">
  {{#if article}}
    {{#each article}}
    <div class="col-sm-6 col-md-4" id="col-container">
      <div class="thumbnail" id="thumbnail-display">
        <a href="{{this.url}}"><img src="{{this.image}}" alt="{{this.image}}"></a>
        <div class="caption">
          <h1>{{this.title}}</h1>
          <h2>by: {{this.author}}</h2>
          <h2>Published: {{this.published}}</h2>
          <p>Date scraped: {{this.date}}</p>
          <div class="btn-group">
            <a href="/api/unsave/{{this._id}}" class="btn btn-lg btn-danger" role="button">Unsave</a>
            <a href="/api/notes/{{this._id}}" data-id="{{this._id}}" class="btn btn-lg btn-default notes" data-toggle="modal" data-target="#exampleModal" role="button">Add Notes</a>
            <a target="_blank" href="{{this.url}}" class="btn btn-lg btn-primary" role="button">Read Article</a> 
          </div>
        </div>
      </div>
    </div>
    {{/each}}
    <div class="container text-center" id="wrap">
      <div id="main" class="container clear-top"> 
        <a href="/api/clear/saved" class="btn btn-lg btn-primary" role="button">Clear All Saved Articles</a>
      </div>
    </div>
    {{!-- <footer class="footer"></footer> --}}
    {{else}}
      <div class="container">
        <h1>NO SAVED ARTICLES</h1>
      </div>
  {{/if}}
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>