{{#if article}}
  {{#each article}}
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
        <a href="{{this.url}}"><img src="{{this.image}}" alt="{{this.image}}"></a>
          <div class="caption">
            <h1>{{this.title}}</h1>
            <h2>by: {{this.author}}</h2>
            <h2>Published: {{this.published}}</h2>
            <p>Date scraped: {{this.date}}</p>
            <div class="btn-group">
              <a href="/api/unsave/{{this._id}}" class="btn btn-lg btn-danger" role="button">Unsave</a>
              <a href="/api/notes/{{this._id}}" id="notes" data-id="{{this._id}}" class="btn btn-lg btn-default" data-toggle="modal" data-target="#exampleModal" role="button">Add Notes</a>
              <a target="_blank" href="{{this.url}}" class="btn btn-lg btn-primary" role="button">Read Article</a> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
  <div class="container text-center">
    <a href="/api/clear/saved" class="btn btn-lg btn-primary" role="button">Clear All Saved Articles</a>
  </div>
  {{else}}
    <div class="container">
      <h1>NO SAVED ARTICLES</h1>
    </div>
{{/if}}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{{article.title}}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>