{{#if article}}
  {{#each article}}
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
        <a href="{{this.url}}"><img src="{{this.image}}" alt="{{this.image}}"></a>
          <div class="caption">
            <h1>{{this.title}}</h1>
            <h2>by: {{this.author}}</h2>
            <h2>Published: {{this.published}}</h2>
            <p>Date scraped: {{this.date}}</p>
            <div class="btn-group">
              <a href="/api/unsave/{{this._id}}" class="btn btn-lg btn-danger" role="button">Unsave</a>
              <a href="/notes" class="btn btn-lg btn-default" role="button">Add Notes</a>
              <a target="_blank" href="{{this.url}}" class="btn btn-lg btn-primary" role="button">Read Article</a> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
  <div class="container text-center">
    <a href="/api/clearSaved" class="btn btn-lg btn-primary" role="button">Clear All Saved Articles</a>
  </div>
  {{else}}
    <div class="container">
      <h1>NO SAVED ARTICLES</h1>
    </div>
{{/if}}